:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --hover-color: #2196F3;
  --dark-bg-color: #2F303A;
  --light-bg-color:#f5f4fa;
  --secondary-text-color: #FFFFFF;
}
*{
  box-sizing: border-box;
}
body{
  font-family:var(--font-family)
}
.logo{
font-family:var(--second-family) ;
  font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
width: 145px;
height: 31px;
margin-right: 94px;
}

.container{
  width: 1200px;
  margin-left: auto ;
  margin-right:  auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header1{
   border: 1px solid #ececec;
     padding-top: 24px;
  padding-bottom: 25px;
}
.header-container{
  display: flex;

}
.nav1-menu-list{
  display: flex;
  column-gap: 50px;
}
.header1-menu-list{
  display: flex;
  column-gap: 50px;
  margin-left: 344px;
}
.nav1-menu-item{
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
margin-top: 7px;
margin-bottom: 8px;
}
a{
  color: black;
}
a:hover{
color: var(--hover-color);
}
.header1-menu-item{
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
margin-top: 7px;
margin-bottom: 8px;
}
/* Студія */
.section1-container{
  display: flex;
   flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 210px;
}
.section1{
    background-color: var(--dark-bg-color);
}
.title{
  color: var(--secondary-text-color);
width: 696px;
height: 120px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
}
.button{
  display: flex;
  justify-content: center;
background:var(--hover-color);
color: var(--secondary-text-color);
  border-radius: 4px;
width: 216px;
height: 50px;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
text-align: center;
margin-top: 30px;
border: none;
padding-top: 10px;
border-radius: 5px;
}
.section2-container{
  padding-top: 94px;
  padding-bottom: 90px;
}
.section2-menu-list{
  display: flex;
  column-gap: 30px;
}
.section2-menu-item1{
  width: 270px;
  height: 98px;
}
.section2-menu-title{
  color: var(--main-title-color);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.section2-menu-p{
  color: var(--main-text-color);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.section2-menu-item2{
  width: 270px;
  height: 74px;
}
.section2-menu-item3{
  width: 270px;
height: 74px;
}
.section2-menu-item4{
  width: 270px;
height: 98px;
}
.section3-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 94px;
}
.section3-title{
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 50px;
color: var(--main-title-color);
}
.section3-menu-list{
  display: flex;
  column-gap: 30px;
}
.section3-menu-item{
  width: 370px;
  height: 294px;;
  background: url("path_to_image");
}
.section4-container{
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section4{
  background-color: var(--light-bg-color);
}
.section4-title{
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 50px;
color: var(--main-title-color);
}
.section4-menu-list{
  display: flex;
  column-gap: 30px;
}
.section4-menu-item{
  width: 270px;
height: 368px;
background-color: white;

}
.section4-menu-img{
  width: 270px;
height: 260px;
background: url("path_to_image");
margin-bottom: 30px;
}
.section4-menu-title{
font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 10px;
color: var(--main-title-color);
}
.section4-menu-p{
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
text-align: center;
color: var(--main-text-color);
}
.footer1{
background-color: var(--dark-bg-color);
}
.footer1-container{
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.logo1{
  font-family:var(--second-family) ;
  font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
width: 145px;
height: 31px;
margin-bottom: 20px;
}
.footer1-item{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--secondary-text-color);
margin-bottom: 9px;
}
.footer1-mail{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
margin-bottom: 9px;
}
.footer1-tel{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
/* Портфоліо */
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-container{
align-items: center;
display: flex;
flex-direction: column;
}
.section-title{
display: none;
}
button:hover{
  color: var(--secondary-text-color);
  background-color: var(--hover-color);
}
.menu-list1{
  display: flex;
  column-gap: 8px;
  margin-bottom: 50px;
}
.menu-button1{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
width: 73px;
height: 38px;
border: none;
border-radius: 5px;
}
.menu-button2{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
width: 125px;
height: 38px;
border: none;
border-radius: 5px;
}
.menu-button3{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
width: 112px;
height: 38px;
border: none;
border-radius: 5px;
}
.menu-button4{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
width: 103px;
height: 38px;
border: none;
border-radius: 5px;
}
.menu-button5{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
text-align: center;
width: 130px;
height: 38px;
border: none;
border-radius: 5px;
}
.menu-list2{
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 30px;
}
.menu1-item{
  width: 370px;
height: 404px;
border: 1px solid #eee;
}
 .menu1-img{
  width: 370px;
height: 294px;
background: url("path_to_image");
margin-bottom: 20px;
}
.menu1-item-title{
 color: var(--main-title-color);
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
margin-bottom: 4px;
margin-left: 24px;
}
.menu1-item-p{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--main-text-color);
margin-left: 24px;
}