:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --hover-color: #2196F3;
  --dark-bg-color: #2F303A;
  --secondary-text-color: #FFFFFF;
}
body{
  font-family:var(--font-family)
}
.logo{
  font-family:var(--second-family) ;
}
